<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Foodstuff: Types of Cuisine</title>
    </head>
    <body>
        <center>
    <h1>{{ cuisine.getType }}<small>Cuisine</small></h1>

    <form action='/cuisine' method='post'>
        <input id='cuisine_id' name='cuisine_id' type='hidden' value='{{ cuisine.getId() }}'>
        <label for='name'>Name</label>
        <input id='name' name='name' type='text'>
        <br>
        <label for='location'>Location</label>
        <input id='location' name='location' type='text'>
        <br>
        <br>
        <button type='submit' class='btn btn-success'>Add a Restaurant</button>
    </form>

        {% if restaurant is not empty %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Restaurant Name</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
                    {% for addedrestaurant in restaurant %}
                <tr>
                  <td>{{ addedrestaurant.getName }}</td>
                  <td>{{ addedrestaurant.getLocation }}</td>
                </tr>
                    {% endfor %}
              </tbody>
            </table>
        {% endif %}

            <p><button type='submit' class='btn btn-warning'><a href='/cuisine/{{ cuisine.getId }}/edit'>Edit this cuisine</a></button></p>
            <p><a href='/'>Home</a></p>
        </center>
    </body>
</html>
